node_modules
dist
build
.git
.github
.claude
.env
data/*.json
data/*.db*
data/sftp_host_key
data/jars
data/stats
data/console-logs
data/backups
servers
logs
electron
scripts
src/css
tailwind.config.js
postcss.config.js
nodemon.json
*.log
*.md
